:root{
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #1e1e24;
    --bg-secondary:#141418;
    --bg-navHoverBlack: rgb(17,17,17);
    --bg-coolColor:#6649b8;
    --bg-pink: rgb(248, 187, 197);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Fonts

    font-family: 'Indie Flower', cursive; (Dialogue)
    font-family: 'Lobster', cursive; (Title and Navbar)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-secondary);
}

main{
    margin-left: 5rem;
    padding: 0rem;
    margin-top: 0%;
    height: 100vh;
}

.backgroundImage{
    background-size: cover;
    height: 100%;
    filter: blur(5px);
    background-image: url(./backgroundImages/taroBackground/TaroOffice.jpg);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Scrollbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:var(--bg-pink);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    NavMenu
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.navMenu{
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    z-index: 2;
}

.navbar-nav{
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navArrow{
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.4ch;
    background-color: var(--bg-navHoverBlack);
}

.navArrow i{
    position: relative;
    left: -2.5rem;
}

.linkText{
    font-family: "lobster", cursive;
    opacity: 0;
    overflow: hidden;
    padding: 23px;
}

.nav-link, .navArrow {
    display:flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration:none;
    font-size: 35px;
}

.nav-link, .navArrow i{
    min-width: 2rem;
    margin: 0 1.3rem;
}

.navItem, #convert, .navArrow i{
    transition: 1200ms;
}

.navMenu:hover{
    width: 14rem;
}

.navMenu:hover .navArrow i{
    color: rgb(175, 109, 120);
    transform: rotate(-180deg);
}

.navItem:hover{
    background-color: rgb(17, 17, 17);
}

.nav-link:hover #convert{
    color: var(--bg-pink); /* Nav Font Color */
}

.navbar-nav:hover .linkText{
    overflow: visible;
    opacity: 1;
    transition: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    GridMain
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
    transform: translate(0%, -100%);
}

.mainGridChild{
    display: grid;
    padding: 0;
    z-index: -1 ;
    font-family: 'Indie Flower', cursive;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    GridMainChild
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.gameChoices{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    top: 22vh;
    left: 5vw;
}

.gameCharacter{
    position: absolute;
    height: 95vh;
    bottom: 0vh;
    width: 30vw;
    left: 57vw;
}

.gameDialogue{
    filter: opacity(0.8);
    position: absolute;
    width: 85vw;
    top: 67vh;
    left: 5vw;
    height: 25vh;

    background-color: rgb(249, 185, 194);
    text-align: center;
    border: 6px rgb(0, 0, 0) solid;
    border-top: 6px rgb(77, 77, 77) solid;
    border-left: 6px rgb(77, 77, 77) solid;
    border-radius: 25px 50px 25px 50px;
}
.gameDialogue p{
    padding: 1vw;
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 0.1ch;
    text-align: left;
} 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    gameButton
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.gameButton{
    transition: 400ms;
    position: absolute;
    gap: 12px;
    letter-spacing: 0.1ch;
    width: 45vw ;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--text-primary);
    font-family: 'Indie Flower', cursive; 
    font-size: 20px;
    text-align: left;
    padding: 1vw;
    filter: opacity(0.7);
    background-color:rgb(255, 151, 177); ;
}

.gameButton:hover{
    transform: scale(1.04);
    font-weight: bolder;
    filter: opacity(1);
    border: rgb(0, 0, 0) solid;
    border-bottom: rgb(77, 77, 77) solid;
    border-right: rgb(77, 77, 77) solid;
}

#choiceA{
    display: hidden;
    top: 0vh;
}

#choiceB{
    display: hidden;
    top: 10vh;
}

#choiceC{
    display: hidden;
    top: 20vh;
}

#choiceD{
    display: hidden;
    top: 30vh;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    character
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.characterA{
    max-width: 100%;
    height: 95vh;
}

.gameName{
    z-index: 3;
    position: absolute;
    width: 12vw;
    height: 5.5vh;
    bottom: 32.3vh;
    left: 12vw;

    filter: opacity(0.8);
    border-radius: 25px 25px 0px 0px;
    background-color: rgb(249, 185, 194);
    border: 6px rgb(77, 77, 77) solid;
    border-bottom: none;
}

.gameName h2{
    font-family: 'Lobster';
    letter-spacing: 0.2ch;
    position: absolute;
    left: 3.4vw;
    top: -2vh;
    font-size: 32px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    transitionScreen
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#transitionScreen{
    z-index: 1;
    filter: blur(5px);
    background-color: black;
    margin: 0;
    padding: 0;
    height: 101vh;
    transform: translate(0, -198%);
    filter: opacity(0);
    pointer-events: none;
}

.bgTransition{
    animation: bgTransition 4s;
    pointer-events: all
}

@keyframes bgTransition {
    0%{filter: opacity(0);}
    50%{filter: opacity(1);}
    100%{filter: opacity(0); display: none;}
}

.bgSmack{
    animation: bgSmack 2s;
    pointer-events: all;
}

@keyframes bgSmack{
    0%{filter: opacity(0);}
    12.5%{filter: opacity(1);}
    30%{filter: opacity(1);}
    100%{filter: opacity(0);}

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    typeWriter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@keyframes typingAnimation{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
